.search {
  border: 2px solid #e0e0ce;
  background-color: #474747;
  color: whitesmoke;
  border-radius: 5px;
}

/* NEW AUTO STYLES */

.autocomplete {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  color: black;
  z-index: 10;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}
