.search {
  border: 2px solid black;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  height: 80%;
}

.conditionsContainer {
  display: flex;
  justify-content: space-between;
}

.weatherData {
  display: block;
}
