.weatherCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  max-width: 700px;
}

.card {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.forecastTitle {
  text-align: center;
  font-weight: 700;
}

.conditionsContainer {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 96%;
}

.weatherData {
  text-align: center;
  flex: 1;
}

.weatherData p {
  margin: 5px 0;
}

.metric {
  font-weight: 600;
}
