.weatherCard {
  margin-bottom: 20px;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cardBody {
  padding: 10px;
}

.cardTitle {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.forecastTitle {
  text-align: center;
  font-weight: 700;
}

.conditionsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sparklinesContainer {
  border: 1px solid black;
  border-radius: 8px;
}

.weatherData {
  text-align: center;
  flex: 1;
}

.weatherData p {
  margin: 5px 0;
}

.metric {
  font-weight: 600;
}

.chart {
  border: 2px solid red;
  height: 40%;
}
